[
    {
        "plugin": "image",
        "desc": "A neovim plugin to preview images in the buffer",
        "file": "image.lua",
        "enabled": false
    },
    {
        "plugin": "live-server",
        "desc": "A little development server with live reload capability.",
        "file": "live-server.lua",
        "enabled": false
    },
    {
        "plugin": "markdown-preview",
        "desc": "Markdown Preview plugin for neovim",
        "file": "markdown-preview.lua",
        "enabled": false
    },
    {
        "plugin": "silicon",
        "desc": "A code snapshooter written in rust",
        "file": "silicon.lua",
        "enabled": false
    },
    {
        "plugin": "copilot",
        "desc": "Github Copilot integration for neovim",
        "file": "copilot.lua",
        "enabled": false
    },
    {
        "plugin": "git-dev",
        "desc": "Open remote git repository in neovim",
        "file": "git-dev.lua",
        "enabled": false
    },
    {
        "plugin": "mini.animate",
        "desc": "Aniamte common neovim actions",
        "file": "mini.animate.lua",
        "enabled": false
    },
    {
        "plugin": "remote-nvim",
        "desc": "Remote development in neovim",
        "file": "remote-nvim.lua",
        "enabled": false
    }
]
